# Ignore all .txt and .pickle files
*.txt
*.pickle
*.png

# Ignore temporary files
*.tmp
*.log

__pycache__/
*.pyc
*.pyo
*.jpg
*.pdf
*.csv

/venv/

# Ignore large pickle files
pickle/*


__pycache__/*
*.zip
*.tar
venv.tar.gz
*.pdf
.DS_Store
*.sh
*.sub
.vscode/*

analysis/combine_data.py
analysis/solve_partition.py
analysis/getDiff.py
analysis/plotting_new.py
scripts/interactive.py
scripts/map_selection.py
scripts/pickle_to_txt.py
gene_swamping/gs_old.py
scripts/sngd_candidates
scripts/sngd_heatmap
scripts/mapping_outputs
analysis/getDiff.py
gene_swamping/*
result/*



