# Ignore all .txt and .pickle files
*.txt
*.pickle
*.png

# Ignore a specific output directory
/code/outputs/
/code/pickle/

# Ignore temporary files
*.tmp
*.log

__pycache__/
*.pyc
*.pyo
*.jpg
*.pdf
*.csv

/venv/

# Ignore large pickle files
code/pickle/allgdres001.pickle
code/pickle/allngdres.pickle
code/OSG_submit/
code/analysis/stability_res
code/analysis/mapping_diff_txt
code/analysis/phase_partition
code/analysis/plot_partition


__pycache__/*
*.zip
*.tar
venv.tar.gz
*.pdf
.DS_Store
*.sh
*.sub
.vscode/*

analysis/combine_data.py
analysis/read_unstable_results.py
analysis/solve_partition.py
analysis/plotting_new.py
scripts/interactive.py
scripts/map_selection.py
scripts/pickle_to_txt.py
gene_swamping/gs_old.py
scripts/sngd_candidates
scripts/sngd_heatmap
scripts/mapping_outputs
gene_swamping/*
result/*



